index.haml
-gallery_images = ["granos.jpg","libro.jpg","mesa.jpg","servir.jpg"]
!!!5
%html{class: "no-js", lang:"es-mx"}
	%head
		%meta{charset:"utf-8"}
		%meta{name:"description", content:"Un lugar diferente dedicado a la apreciación del arte y el disfrute de un buen café combinación perfecta para fluir las ideas"}
		-#Styles Links
		-#Normalize
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/bootstrap.css"}
		%link{rel:"stylesheet", href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"}
		%link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css"}
		%link{href:"https://fonts.googleapis.com/css?family=Oswald|Pattaya", rel:"stylesheet"}
		%link{rel:"stylesheet", href:"css/style.css"}
		-#Viewport for Responsive Design
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%meta{:"data-name" => "image-counter", content:"#{gallery_images.size - 1}"}
		-#modernizr for Browser content support
		%script{src:"js/vendor/modernizr-2.8.3.min.js"}

		%title Un arte hecho café
	%body
		-#Browser upgrade validation and message
		="<!--[if lt IE 9]>"
		%p{class:"browserupgrade"}
			Contenido No soportado por navegador.
			Por favor actualiza para una mejor experiencia.
		="<![endif]-->"

		.video-container
			-#Using poster cover property for slow connections
			%video{autoplay:true, loop:true, width:"1280", height:"720", poster:"multimedia/cover/cafe.jpg"}
				%source{src:"multimedia/mp4/cafe.mp4", typ:"video/mp4"}
				%source{src:"multimedia/webm/cafe.webm", typ:"video/webm"}
		.row.full-height.middle-xs.center-xs.relative.up.white-text#home
			.col-xs-12
				.box
					%img{src:"multimedia/images/cafelogo.png", width:100}
					%h1.title.pattaya Coffee-Art
					%p#is-open
						-#Adds bootstrap clock icon
						%glyphicon.glyphicon-italic 
						%span.text Abierto ahora
			%nav.fixed.top.right.navigation#navigation
				-#Using ruby cycles to have just 1 navigation list, less coding 
				-menu = [{title:"Home", link:"#home"}, {title:"Menú", link:"#menu"}, {title:"Galería", link:"#gallery"}, {title:"Contacto", link:"#contact"}, {title:"Cómo llegar", link:"#location"}]
				%ul.list-inline
					-menu.each do |item| 
						%li
							%a{href:item[:link]}= item[:title]
			.absolute.black.large-padding.full-width#description
				.row.middle-xs.center-xs
					.col-xs-7.col-sm-6.white-text.medium
						Atención cálida y	café preparado por artistas
					.col-xs.hidden#sticky-navigation
						.box
							%nav.text-right.navigation#responsive-nav
								-#Defining icon for responsive menu and id for show menu in mobile devices
								%i.glyphicon.glyphicon-menu-hamburger.white-text.subtitle.glyphicon-remove#menu-opener
								%ul.list-inline
									-menu.each do |item| 
										%li
											%a.menu-link{href:item[:link]}= item[:title]

	.text-center.relative#menu	
		.absolute.white#menu-title
			%h2.pattaya.title Menú

		-#Array for photos
		-menu_photos = [{name: "Café con galletas", image: "cookies", pricing:"60.00" },{name: "Café", image: "cafe", pricing:"30.00" },{name: "Espresso", image: "espresso", pricing:"50.00" },{name: "Latte", image: "latte", pricing:"60.00" }, {name: "Panquesillos", image: "panes", pricing:"60.00" }, {name: "Café con panqué", image: "panque", pricing:"55.00" }, {name: "Pasteles", image: "pastel", pricing:"45.00" }, {name: "Café con waffles", image: "waffles", pricing:"60.00" }]
		-#Show images in a row
		-#interpolar con función each en arreglo menu_photos para agrear .jpg a imagenes	
		.row
			-menu_photos.each do |photo|
				.col-md-4.col-lg-3.col-sm-6.col-xs-12.food{style:"background-image:url(multimedia/images/#{photo[:image]}.jpg)"}	
					.screen.text-center.white-text
						.row.middle-xs.full-height
							.col-xs-12				
								%h3.pattaya.subtitle= photo[:name]
								%p.no-margin= photo[:pricing] + " MXN"
		
	#gallery
		.inner
			-gallery_images.each do |image|
				.image{style:"background-image:url(multimedia/images/#{image});"}
	.container	
		.card.white.black-text.text-center.relative
			%h3.medium
				En
				%strong.pattaya.medium coffee-art 
				crear café es un 
				%strong.pattaya.medium arte		
			%p.top
				El sabor de un gran café se basa en el arte del proceso de elaboración hasta servirlo en la mesa
				%br
				%strong.pattaya.medium  -Coffe-Art
		
	.black.white-text.full-height#contact
		.row.middle-xs.full-height
			.col-xs-12
				.box
					%form{action:"https://formspree.io/hugotrejo@gmail.com", method:"POST", id:"contact-form", class:"step-form"}
						.row.center-xs
							.col-xs-12.col-sm-2.col-md-1.first-sm
								.box.text-center
									-#circlos for form buttons
									-3.times do |i|
										-if i == 0
											.path-step.active
										-else
											.path-step
							.col-xs-12.col-sm-3.first-xs
								.box
									%fieldset.step.active
										%input{type:"email", name:"email",placeholder:"Coloca tu correo electrónico", class:"input", required:"true"}
									%fieldset.step
										%input{type:"text", name:"name",placeholder:"Coloca tu nombre", class:"input", required:"true"}
									%fieldset.step
										%textarea{name:"body",placeholder:"Escribe aquí tu mensaje...", class:"input", required:"true"}	
									%button{type:"submit", class:"btn btn-success"}
		
										Enviar
		-#div for map
		#location
			#map
			#message.black.large-padding.white-text.text-center.medium
			
		%script{src:"https://code.jquery.com/jquery-3.1.0.slim.min.js", 
		integrity:"sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=", 
		crossorigin:"anonymous"}
		:javascript
			window.jQuery || document.write("<script src:'js/vendor/jquery-1.12.0.min.js'><\/script>");
		-#import main.js to work the sticky navigation	
		%script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyBUplRDQoz-w0KWdHvjvF1Zl-er5mJ-AK0"}
		%script{src:"dist/app.js"}

index.html
<!DOCTYPE html>
<html class='no-js' lang='es-mx'>
  <head>
    <meta charset='utf-8'>
    <meta content='Un lugar diferente dedicado a la apreciación del arte y el disfrute de un buen café combinación perfecta para fluir las ideas' name='description'>
    <link href='css/normalize.css' rel='stylesheet'>
    <link href='css/bootstrap.css' rel='stylesheet'>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Oswald|Pattaya' rel='stylesheet'>
    <link href='css/style.css' rel='stylesheet'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='3' data-name='image-counter'>
    <script src='js/vendor/modernizr-2.8.3.min.js'></script>
    <title>Un arte hecho café</title>
  </head>
  <body>
    <!--[if lt IE 9]>
    <p class='browserupgrade'>
      Contenido No soportado por navegador.
      Por favor actualiza para una mejor experiencia.
    </p>
    <![endif]-->
    <div class='video-container'>
      <video autoplay height='720' loop poster='multimedia/cover/cafe.jpg' width='1280'>
        <source src='multimedia/mp4/cafe.mp4' typ='video/mp4'>
        <source src='multimedia/webm/cafe.webm' typ='video/webm'>
      </video>
    </div>
    <div class='row full-height middle-xs center-xs relative up white-text' id='home'>
      <div class='col-xs-12'>
        <div class='box'>
          <img src='multimedia/images/cafelogo.png' width='100'>
          <h1 class='title pattaya'>Coffee-Art</h1>
          <p id='is-open'>
            <glyphicon class='glyphicon-italic'></glyphicon>
            <span class='text'>Abierto ahora</span>
          </p>
        </div>
      </div>
      <nav class='fixed top right navigation' id='navigation'>
        <ul class='list-inline'>
          <li>
            <a href='#home'>Home</a>
          </li>
          <li>
            <a href='#menu'>Menú</a>
          </li>
          <li>
            <a href='#gallery'>Galería</a>
          </li>
          <li>
            <a href='#contact'>Contacto</a>
          </li>
          <li>
            <a href='#location'>Cómo llegar</a>
          </li>
        </ul>
      </nav>
      <div class='absolute black large-padding full-width' id='description'>
        <div class='row middle-xs center-xs'>
          <div class='col-xs-7 col-sm-6 white-text medium'>
            Atención cálida y	café preparado por artistas
          </div>
          <div class='col-xs hidden' id='sticky-navigation'>
            <div class='box'>
              <nav class='text-right navigation' id='responsive-nav'>
                <i class='glyphicon glyphicon-menu-hamburger white-text subtitle glyphicon-remove' id='menu-opener'></i>
                <ul class='list-inline'>
                  <li>
                    <a class='menu-link' href='#home'>Home</a>
                  </li>
                  <li>
                    <a class='menu-link' href='#menu'>Menú</a>
                  </li>
                  <li>
                    <a class='menu-link' href='#gallery'>Galería</a>
                  </li>
                  <li>
                    <a class='menu-link' href='#contact'>Contacto</a>
                  </li>
                  <li>
                    <a class='menu-link' href='#location'>Cómo llegar</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <div class='text-center relative' id='menu'>
    <div class='absolute white' id='menu-title'>
      <h2 class='pattaya title'>Menú</h2>
    </div>
    <div class='row'>
      <div class='col-md-4 col-lg-3 col-sm-6 col-xs-12 food' style='background-image:url(multimedia/images/cookies.jpg)'>
        <div class='screen text-center white-text'>
          <div class='row middle-xs full-height'>
            <div class='col-xs-12'>
              <h3 class='pattaya subtitle'>Café con galletas</h3>
              <p class='no-margin'>60.00 MXN</p>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-4 col-lg-3 col-sm-6 col-xs-12 food' style='background-image:url(multimedia/images/cafe.jpg)'>
        <div class='screen text-center white-text'>
          <div class='row middle-xs full-height'>
            <div class='col-xs-12'>
              <h3 class='pattaya subtitle'>Café</h3>
              <p class='no-margin'>30.00 MXN</p>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-4 col-lg-3 col-sm-6 col-xs-12 food' style='background-image:url(multimedia/images/espresso.jpg)'>
        <div class='screen text-center white-text'>
          <div class='row middle-xs full-height'>
            <div class='col-xs-12'>
              <h3 class='pattaya subtitle'>Espresso</h3>
              <p class='no-margin'>50.00 MXN</p>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-4 col-lg-3 col-sm-6 col-xs-12 food' style='background-image:url(multimedia/images/latte.jpg)'>
        <div class='screen text-center white-text'>
          <div class='row middle-xs full-height'>
            <div class='col-xs-12'>
              <h3 class='pattaya subtitle'>Latte</h3>
              <p class='no-margin'>60.00 MXN</p>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-4 col-lg-3 col-sm-6 col-xs-12 food' style='background-image:url(multimedia/images/panes.jpg)'>
        <div class='screen text-center white-text'>
          <div class='row middle-xs full-height'>
            <div class='col-xs-12'>
              <h3 class='pattaya subtitle'>Panquesillos</h3>
              <p class='no-margin'>60.00 MXN</p>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-4 col-lg-3 col-sm-6 col-xs-12 food' style='background-image:url(multimedia/images/panque.jpg)'>
        <div class='screen text-center white-text'>
          <div class='row middle-xs full-height'>
            <div class='col-xs-12'>
              <h3 class='pattaya subtitle'>Café con panqué</h3>
              <p class='no-margin'>55.00 MXN</p>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-4 col-lg-3 col-sm-6 col-xs-12 food' style='background-image:url(multimedia/images/pastel.jpg)'>
        <div class='screen text-center white-text'>
          <div class='row middle-xs full-height'>
            <div class='col-xs-12'>
              <h3 class='pattaya subtitle'>Pasteles</h3>
              <p class='no-margin'>45.00 MXN</p>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-4 col-lg-3 col-sm-6 col-xs-12 food' style='background-image:url(multimedia/images/waffles.jpg)'>
        <div class='screen text-center white-text'>
          <div class='row middle-xs full-height'>
            <div class='col-xs-12'>
              <h3 class='pattaya subtitle'>Café con waffles</h3>
              <p class='no-margin'>60.00 MXN</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id='gallery'>
    <div class='inner'>
      <div class='image' style='background-image:url(multimedia/images/granos.jpg);'></div>
      <div class='image' style='background-image:url(multimedia/images/libro.jpg);'></div>
      <div class='image' style='background-image:url(multimedia/images/mesa.jpg);'></div>
      <div class='image' style='background-image:url(multimedia/images/servir.jpg);'></div>
    </div>
  </div>
  <div class='container'>
    <div class='card white black-text text-center relative'>
      <h3 class='medium'>
        En
        <strong class='pattaya medium'>coffee-art</strong>
        crear café es un
        <strong class='pattaya medium'>arte</strong>
      </h3>
      <p class='top'>
        El sabor de un gran café se basa en el arte del proceso de elaboración hasta servirlo en la mesa
        <br>
        <strong class='pattaya medium'>-Coffe-Art</strong>
      </p>
    </div>
  </div>
  <div class='black white-text full-height' id='contact'>
    <div class='row middle-xs full-height'>
      <div class='col-xs-12'>
        <div class='box'>
          <form action='https://formspree.io/hugotrejo@gmail.com' class='step-form' id='contact-form' method='POST'>
            <div class='row center-xs'>
              <div class='col-xs-12 col-sm-2 col-md-1 first-sm'>
                <div class='box text-center'>
                  <div class='path-step active'></div>
                  <div class='path-step'></div>
                  <div class='path-step'></div>
                </div>
              </div>
              <div class='col-xs-12 col-sm-3 first-xs'>
                <div class='box'>
                  <fieldset class='step active'>
                    <input class='input' name='email' placeholder='Coloca tu correo electrónico' required='true' type='email'>
                  </fieldset>
                  <fieldset class='step'>
                    <input class='input' name='name' placeholder='Coloca tu nombre' required='true' type='text'>
                  </fieldset>
                  <fieldset class='step'>
                    <textarea class='input' name='body' placeholder='Escribe aquí tu mensaje...' required='true'></textarea>
                  </fieldset>
                  <button class='btn btn-success' type='submit'>
                    Enviar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id='location'>
      <div id='map'></div>
      <div class='black large-padding white-text text-center medium' id='message'></div>
    </div>
    <script crossorigin='anonymous' integrity='sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=' src='https://code.jquery.com/jquery-3.1.0.slim.min.js'></script>
    <script>
      window.jQuery || document.write("<script src:'js/vendor/jquery-1.12.0.min.js'><\/script>");
    </script>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBUplRDQoz-w0KWdHvjvF1Zl-er5mJ-AK0'></script>
    <script src='dist/app.js'></script>
  </div>
</html>
