offline/view.html
<!DOCTYPE html>
<html class='no-js' lang='es-mx'>
  <head>
    <meta charset='utf-8'>
    <link href='style.css' rel='stylesheet'>
    <meta content='Un lugar diferente dedicado a la apreciación del arte y el disfrute de un buen café combinación perfecta para fluir las ideas' name='description'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>Un arte hecho café</title>
  </head>
  <body>
    <p id='message'>Whooo!... Parece que no hay conexión a internet, no hay problema, puedes navegar en nuestro sitio en modo sin conexión.</p>
    <div class='container'>
      <h1>Coffe-Art</h1>
      <p>
        <strong>Dirección:</strong>
      </p>
      <p>
        <strong>Teléfono: 55-5678-45-45</strong>
      </p>
      <p>
        <strong>Horario: 7am -- 1am</strong>
      </p>
      <p>
        <strong>Descripción: Atención cálida y café preparado por artistas</strong>
      </p>
      <div id='map'>
        <img src='map.jpeg'>
      </div>
      <p>Aquí hay un mapa con referencias de la ubicación de Coffe-Art</p>
    </div>
  </body>
</html>

offline/view.haml
!!!5
%html{class: "no-js", lang:"es-mx"}
	%head
		%meta{charset:"utf-8"}
		%link{rel:"stylesheet", href:"style.css"}
		%meta{name:"description", content:"Un lugar diferente dedicado a la apreciación del arte y el disfrute de un buen café combinación perfecta para fluir las ideas"}
		-#Viewport for Responsive Design
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		
		%title Un arte hecho café
	%body
		%p#message Whooo!... Parece que no hay conexión a internet, no hay problema, puedes navegar en nuestro sitio en modo sin conexión.
		.container
			%h1 Coffe-Art
			%p
				%strong Dirección:
			%p
				%strong Teléfono: 55-5678-45-45
					
			%p
				%strong Horario: 7am -- 1am
					
			%p
				%strong Descripción: Atención cálida y café preparado por artistas
			#map
				%img{src:"map.jpeg"}
			%p Aquí hay un mapa con referencias de la ubicación de Coffe-Art
